body{
  background: url(../fotos/Fondo/EspacioGif.gif);
  background-attachment: fixed;
  background-size: 100%;
  margin: 0;
}

.sticky{
  top: 0;
  position: sticky;
  z-index: 1000
}

.cuerpo {
 /* Máximo ancho del contenedor */
  margin: 0 auto; /* Centramos el contenedor */
  text-align: center;
  padding: 20px;
}

.cuerpo h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.producto {
  background-color: white;
  border-radius: 25px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar efecto de sobresalir */
  padding: 20px;
  width: calc(20% - 20px); /* Ajustar el ancho para 5 productos por fila considerando el margen */
  margin: 10px;
  text-align: center;
  transition: transform 0.3s ease;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  height: auto; 

}

.merch img{
  height: 150px;
  object-fit: center;

}

 .merch {
  width: 100%;
  object-fit: cover;
  background: rgb(166 175 182); 
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.desc {
  height: 25%; /* La descripción ocupa el 20% de la altura del producto */
  padding: 5px; /* Añade un pequeño espacio interno */
  background-color: rgba(255, 255, 255, 0.9); /* Fondo semi-transparente para la descripción */
  border-top: 1px solid #ccc; /* Línea superior para separar la imagen de la descripción */
  text-align: center; /* Centra el texto */
  font-size: 14px; /* Tamaño de fuente para el texto de la descripción */
}

.overlay .texto {
  font-size: 20px; /* Tamaño de la fuente */
  color: white; /* Color del texto */
}

.overlay {
  color: white; /* Color del texto del overlay */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.5); /* Grisaceo y opaco */
  opacity: 0;
  transition: opacity 0.3s ease; /* Efecto de transición suave */
  z-index: 1; /* Asegura que el overlay esté sobre la imagen */
}

.producto:hover {
  transform: scale(1.05); /* Agranda la caja al pasar el ratón */
}

.producto:hover .overlay {
  opacity: 100; /* Muestra el overlay cuando se pasa el ratón */
}
.overlay .texto {
  font-size: 70px; /* Tamaño de la fuente */
  color: white; /* Color del texto */
}

/* Ajusta el margen derecho del último producto en cada fila */
.producto:nth-child(5n) {
  margin-right: 0;
}
/*Ajuste del texto y del link del precio*/
.producto p{
  margin-top: 20px;
}

.producto a {
  text-decoration: none;
  font-weight: bold;
}
.producto >.desc >.precio {
  display: inline-block;

  margin-top: 10px; /* Espacio superior para el texto */
  color: #000000;
  text-decoration: underline; /* Subrayar el texto */
  cursor: pointer; /* Cambiar el cursor al puntero */
}

.producto >.precio:hover {
  color: hsl(0, 0%, 0%); /* Cambiar el color del texto al pasar el ratón */
  text-decoration: underline; /* Mantener el subrayado */
}

/*adaptacion a cualquier tamaño*/

@media only screen and (max-width: 600px) {
  /* Ajustar estilos para pantallas con un ancho máximo de 600px (típicamente dispositivos móviles) */
  .boton-download {
      flex-direction: column; /* Cambiar la dirección de flexión a columna */
      align-items: center; /* Centrar horizontalmente los elementos */
  }

  .boton-download a {
      margin-bottom: 20px; /* Añadir espacio entre el botón y el texto debajo en dispositivos móviles */
  }
}



