body{
    background: url(../fotos/Fondo/EspacioGif.gif);
    background-attachment: fixed;
    background-size: 100%;
    margin: 0;
}

.sticky{
    top: 0;
    position: sticky;
    z-index: 1000
}

/* Slider */
.container {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: absolute;
    right: 0;
  }

  .slider{
    display: flex;
    animation: cambio 10s infinite alternate linear;
    width: 100%;
    height: 100px;
  }

  .slider div{
    width: 50%;
    list-style: none;
  }
  .slider img{
    width: 50%;
    height: 50%;
  }
  @keyframes cambio{
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}
  
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
  
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
  
    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
  } 


/*Boton*/
.cuerpo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; /* Ajusta la altura automáticamente */
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.boton-download {
    display: flex;
    justify-content: center;
    margin: 100px; 
}

.boton-download a {
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    color: #fff; 
    background-color: #000; 
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
}

.boton-download a:hover {
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.boton-download a span {
    position: absolute;
}

.boton-download a span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: animate1 1s linear infinite;
}

@keyframes animate1 {
    0% {
        left: -100%;
    }
    50%, 100% {
        left: 100%;
    }
}

.boton-download a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }
    50%, 100% {
        top: 100%;
    }
}

.boton-download a span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}

@keyframes animate3 {
    0% {
        right: -100%;
    }
    50%, 100% {
        right: 100%;
    }
}

.boton-download a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }
    50%, 100% {
        bottom: 100%;
    }
}



/*Parte de creditos abajo*/
.bottom{
    position: absolute;
    width: 100%;
    height: 10%;
    background-color: #242526;
    text-align: center;
  
  }
  #text_bottom{
    color: #fff;
  }

/*adaptacion a cualquier tamaño*/

@media only screen and (max-width: 600px) {
    /* Ajustar estilos para pantallas con un ancho máximo de 600px (típicamente dispositivos móviles) */
    .boton-download {
        flex-direction: column; /* Cambiar la dirección de flexión a columna */
        align-items: center; /* Centrar horizontalmente los elementos */
    }

    .boton-download a {
        margin-bottom: 20px; /* Añadir espacio entre el botón y el texto debajo en dispositivos móviles */
    }
}
