/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff; /* Fondo negro */
}

/* Estilos de la cabecera */
#cabecera {
    background-image: url('../fotos/logo/cabecera.webp'); 
    position: sticky;
    top: 0;
    z-index: 2000; /* Aumenta el z-index para que la cabecera esté por encima de los demás elementos */
}

.wrapper {
    display: flex;
    justify-content: space-between; /* Distribuye los elementos a lo largo del eje principal con un espacio igual entre ellos */
    align-items: center; /* Centra verticalmente los elementos */
    max-width: 1800px; /* Establece el ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente en la página */
}

.logo {
    order: 2; /* Mueve el logo al medio */
    margin: 0 auto; /* Centra horizontalmente el logo */
}

.links {
    order: 1; /* Mueve el menú al extremo izquierdo */    
}

.creden {
    order: 3; /* Mueve los inputs y botones al extremo derecho */
}

/* Estilos del menú desplegable */
.desplegable {
    display: none; /* Oculta la lista desplegable por defecto */
    position: absolute;
    background-color: #000; /* Fondo negro */
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.desplegable li {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #fff; /* Letras blancas */
    transition: background-color 0.3s ease; /* Transición suave al pasar el ratón */
}


.desplegable a {
    text-decoration: none; /* Elimina el subrayado */
    color: white; /* Color de la letra blanco */
}


.desplegable li:hover {
    background-color: #333; /* Cambio de color al pasar el ratón */
}


.desplegable a:hover {
    background-color: rgba(0, 0, 0, 0.2); /* Color de fondo grisaceo al pasar el ratón */
}




/* Mostrar el menú desplegable al hacer clic en el botón */
#menuBtn:hover + .desplegable,
.desplegable:hover {
    display: block;
}

#menuBtn {
    background-color: #000; /* Fondo negro */
    color: #fff; /* Letras blancas */
    padding: 15px 25px; /* Espacio alrededor del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    text-decoration: none; /* Sin subrayado */
    font-size: 18px; /* Tamaño de fuente */
    transition: background-color 0.3s ease; /* Transición suave al pasar el ratón */
}

#menuBtn:hover {
    background-color: #333; /* Cambio de color al pasar el ratón */
}

/* Estilo del div de credenciales */
.creden {
    background-color: transparent; /* Eliminamos el color de fondo */
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinear los elementos al inicio del contenedor */
    margin-right: 5px;
    
}

.creden .fila {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.creden .fila input[type="text"],
.creden .fila input[type="password"] {
    padding: 10px;
    font-size: 13px;
    flex-grow: 1;
    width: auto;
    margin-right: 10px;
    border: 1px solid #15244e; /* Añadimos un borde gris */
    transition: box-shadow 0.3s ease; /* Añadimos transición de sombra */
}

.creden .fila input[type="text"]:focus,
.creden .fila input[type="password"]:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Añadimos sombra al enfocar */
}

.creden .fila button {
    background-color: transparent; /* Eliminamos el color de fondo */
    color: #fff;
    border: 1px solid #ccc; /* Añadimos un borde gris */
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: box-shadow 0.3s ease; /* Añadimos transición de sombra */
    min-width: 120px; /* Ajustar el ancho mínimo de los botones */
}

.creden .fila button:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Añadimos sombra al pasar el ratón */
}





/*La parte de abajo*/

.bottom{
    position: absolute;
    width: 100%;
    height: 10%;
    background-color: #242526;
    text-align: center;
  
  }
  #text_bottom{
    color: #fff;
  }


/*adaptacion a cualquier tamaño*/

@media only screen and (max-width: 600px) {
    /* Ajustar estilos para pantallas con un ancho máximo de 600px (típicamente dispositivos móviles) */
    .boton-download {
        flex-direction: column; /* Cambiar la dirección de flexión a columna */
        align-items: center; /* Centrar horizontalmente los elementos */
    }

    .boton-download a {
        margin-bottom: 20px; /* Añadir espacio entre el botón y el texto debajo en dispositivos móviles */
    }
}
