body{
    background: url(../fotos/Fondo/EspacioGif.gif);
    background-attachment: fixed;
    background-size: 100%;
    margin: 0;
}

@media only screen and (max-width: 600px) {
    body{
        background: url(../fotos/Fondo/EspacioGif2Movil.gif);
        background-size: 200%;
    }
}

.sticky{
    top: 0;
    position: sticky;
    z-index: 1000
}

#cuerpo{
    max-width: 100%;
    border: black solid 3px;
    height: fit-content;
}

#videos{
    max-width: 100%;
    border: red solid 3px;
    height: 300px;
    margin: 25px;
    display: flex;
    justify-content: center;
}

.video{
    align-content: center;
}

.video p{
    background-color: yellow;
    padding: 25px;
}
#info{
    max-width: 100%;
    border: green solid 3px;
    height: fit-content;
    margin: 25px;
    display: flex;
    flex-direction: column;
}

.apartado{
    margin: 25px;
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    padding: 0px 100px 0px 100px;
}
