body{
    background: url(../fotos/Fondo/EspacioGif.gif);
    background-attachment: fixed;
    background-size: 100%;
    margin: 0;
}

@media only screen and (max-width: 600px) {
  body{
      background: url(../fotos/Fondo/EspacioGif2Movil.gif);
      background-size: 200%;
  }
}

.sticky{
    top: 0;
    position: sticky;
    z-index: 1000
}

/*Contnedor para los 3 divs */
#contenedor, #empresa,#contenedor-videojuegos,#trabajadores,#contenedor-valores, .valor{
    background-color: white;
    border-radius: 25px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar efecto de sobresalir */
    padding: 30px;
    max-width: 90%;
    margin: 0 auto 20px auto; 
    text-align: center;
    
}



.titulo {
    margin-top: 40px; 
    margin-bottom: 15px;
    color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif; 
    text-transform: uppercase;
    position: relative; 
    top: 0; 
    font-size: 50px;
    z-index: 1; 
  }
  

/*Empresa*/


#empresa img {
    border-radius: 50%; /* Bordes redondeados */
    max-width: 60%; /* Limita el ancho de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Asegura que la imagen sea un bloque, para aplicar margin auto */
    margin: 0 auto 20px; /* Centra la imagen horizontalmente y añade margen inferior */
  }
#empresa p{
    margin-top: 15px; 
    margin-bottom: 15px;
    color: black;
    text-align: center;
    font-family: sans-serif; 
    position: relative; 
    top: 0; 
    font-size: 18px;
    z-index: 1;
    margin-left:10%;
    margin-right:10%;
}


/*Videojuegos*/


#juegos {
  display: flex;
  justify-content: space-between;
  padding: 0 20px; /* Agrega un espacio de 20px a cada lado del contenedor */
  
}

.juego {
  flex-basis: 40%; /* Ajusta según el número de juegos y el espacio disponible */
  margin: 0 10px;
  text-align: center;
  background: url(../fotos/Fondo/EspacioGif.gif);


}

.juego img {
    border-radius: 10%; /* Bordes redondeados */
    max-width: 70%; /* Limita el ancho de la imagen */
    height: 70%; /* Mantiene la proporción de la imagen */
    display: block; /* Asegura que la imagen sea un bloque, para aplicar margin auto */
    margin: 0 auto 20px; /* Centra la imagen horizontalmente y añade margen inferior */
  }
.juego p{
  margin-top: 15px; 
    margin-bottom: 15px;
    color: black;
    text-align: center;
    font-family: 'Roboto',sans-serif; 
    position: relative; 
    top: 0; 
    font-size: 20px;
    z-index: 1;
    margin-left:10%;
    margin-right:10%;
}




/*Empleados*/



#trabajadores {
  display: flex;
  flex-direction: column; /* Cambia la dirección del flexbox a vertical */
  align-items: center; /* Centra los elementos horizontalmente */
  gap: 20px; /* Espacio entre los elementos */
}

.trabajador {
  display: flex;
  align-items: left; /* Centra verticalmente los elementos dentro de cada trabajador */
  background: url(../fotos/Fondo/EspacioGif.gif);
}




.trabajador img {
    border-radius: 20%; /* Bordes redondeados */
    max-width: 15%; /* Limita el ancho de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Asegura que la imagen sea un bloque, para aplicar margin auto */
    margin-left: 10px; /* Centra la imagen horizontalmente y añade margen inferior */
  }

/*Etica*/

#valores {
  display: flex; /* Utilizar flexbox para colocar los elementos en línea */
  justify-content: space-between; /* Distribuir los elementos con espacios iguales entre ellos */
  padding: 0 50px; /* Agrega un espacio de 20px a cada lado del contenedor */
}

.valor {
  text-align: left; /* Alinear el texto a la izquierda */
  flex-basis: 30%; /* Ancho del 30% para cada valor */
  margin: 0 5px; /* Espacio entre los elementos */
  transition: transform 0.5s ease, box-shadow 0.5s ease; /* Transición suave con duración de 0.5s y función ease */
}

.valor:hover {
  transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el ratón */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Agrega una sombra suave alrededor del elemento */
}




