/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Estilos de la cabecera */
#cabecera {
    background-image: url('../fotos/logo/cabecera.webp'); 
    position: sticky;
    top: 0;
    z-index: 2000; /* Aumenta el z-index para que la cabecera esté por encima de los demás elementos */
}

.wrapper {
    display: flex;
    justify-content: space-between; /* Distribuye los elementos a lo largo del eje principal con un espacio igual entre ellos */
    align-items: center; /* Centra verticalmente los elementos */
    max-width: 1800px; /* Establece el ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente en la página */
}

.logo {
    order: 2; /* Mueve el logo al medio */
    margin: 0 auto; /* Centra horizontalmente el logo */
}

.links {
    order: 1; /* Mueve el menú al extremo izquierdo */    
}

.creden {
    order: 3; /* Mueve los inputs y botones al extremo derecho */
}

/* Estilos del menú desplegable */
.desplegable {
    display: none; /* Oculta la lista desplegable por defecto */
    position: absolute;
    background-color: #000; /* Fondo negro */
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.desplegable li {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #fff; /* Letras blancas */
    transition: background-color 0.3s ease; /* Transición suave al pasar el ratón */
}


.desplegable a {
    text-decoration: none; /* Elimina el subrayado */
    color: white; /* Color de la letra blanco */
}


.desplegable li:hover {
    background-color: #333; /* Cambio de color al pasar el ratón */
}


.desplegable a:hover {
    background-color: rgba(0, 0, 0, 0.2); /* Color de fondo grisaceo al pasar el ratón */
}




/* Mostrar el menú desplegable al hacer clic en el botón */
#menuBtn:hover + .desplegable,
.desplegable:hover {
    display: block;
}

#menuBtn {
    background-color: #000; /* Fondo negro */
    color: #fff; /* Letras blancas */
    padding: 15px 25px; /* Espacio alrededor del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    text-decoration: none; /* Sin subrayado */
    font-size: 18px; /* Tamaño de fuente */
    transition: background-color 0.3s ease; /* Transición suave al pasar el ratón */
}

#menuBtn:hover {
    background-color: #333; /* Cambio de color al pasar el ratón */
}

/* Estilo del div de credenciales */
.creden {
    background-color: transparent; /* Eliminamos el color de fondo */
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinear los elementos al inicio del contenedor */
    margin-right: 5px;
    
}

.creden .fila {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.creden .fila input[type="text"],
.creden .fila input[type="password"] {
    padding: 10px;
    font-size: 13px;
    flex-grow: 1;
    width: auto;
    margin-right: 10px;
    transition: box-shadow 0.3s ease; /* Añadimos transición de sombra */
}

.creden .fila input[type="text"]:focus,
.creden .fila input[type="password"]:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Añadimos sombra al enfocar */
}

.creden .fila button {
    background-color: transparent; /* Eliminamos el color de fondo */
    color: #fff;
    border: 1px solid #ccc; /* Añadimos un borde gris */
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: box-shadow 0.3s ease; /* Añadimos transición de sombra */
    min-width: 120px; /* Ajustar el ancho mínimo de los botones */
}

.creden .fila button:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Añadimos sombra al pasar el ratón */
}









/*Contnedor para los 3 divs */
.contenedor {
    background-color: white;
    border-radius: 25px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar efecto de sobresalir */
    padding: 30px;
    max-width: 90%;
    margin: 0 auto 20px auto; 
    text-align: center;
}

#videoJ{
    background-color: white;
    border-radius: 25px; /* Bordes redondeados */
    padding: 30px;
    max-width: 50%;
    margin: 0 auto 20px auto; 
    text-align: center;  
}

#empresa img{
    width: 35%; /* La imagen ocupa el 25% */
    height: auto;
    border-radius: 70%; /* Marco circular */
}

#videoJ img{
    width: 30%; /* La imagen ocupa el 25% */
    height: auto;
    border-radius: 70%; /* Marco circular */


}
.trabajador img{
    width: 25%; /* La imagen ocupa el 25% */
    height: auto;
    border-radius: 70%; /* Marco circular */
    margin: 0 20px; /* Espacio entre la imagen y el texto */
    object-fit: cover; /* Ajusta la imagen para que cubra el contenedor sin distorsionar */
}


.valores {
        justify-content: space-between; /* Espacio entre elementos */
        width: calc(30% - 20px); /* Ajustar el ancho para 5 productos por fila considerando el margen */
        text-align: center;
        display: inline-block;
        flex-wrap: wrap; /* Permitir que los elementos se ajusten a la siguiente fila si no caben */
}



.valores p {
    font-size: 1.1em; /* Tamaño de fuente */
    line-height: 1.6; /* Altura de línea para mejorar la legibilidad */
    color: #444; /* Color del texto */
    font-family: 'Arial', sans-serif; /* Familia de fuentes */
    margin: 10px; /* Espacio superior */
}


/*Trbaajadores*/

.trabajador:nth-child(odd) {
    flex-direction: row; /* Imagen a la izquierda */
}

.trabajador:nth-child(even) {
    flex-direction: row-reverse; /* Imagen a la derecha */
}

.trabajador p {
    width: 75%; /* El texto ocupa el 75% */
    margin: 0; /* Elimina el margen por defecto del párrafo */
}

.trabajador {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 25px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar efecto de sobresalir */
    padding: 30px;
    width: 100%; /* Asegura que cada trabajador ocupe el 100% del ancho del contenedor */
    box-sizing: border-box;
}


.titulo{
    align-items: center;
    margin: 10px; /* Espacio superior */

}


















/* La parte de abajo */
.bottom{
    position: relative; /* Cambiamos a posición relativa */
    width: 100%;
    height: 10%;
    background-color: #242526;
    text-align: center;
    bottom: 0; /* Eliminamos esta línea ya que no es necesaria con position: relative */
    color: #fff; /* Color del texto */
    z-index: 9999; /* Asegura que esté por encima de otros elementos */
}


  
  #text_bottom {
    color: #fff; /* Color del texto */
  }
  
